@media (max-width: 1400px) {
    .carousel {
        width: 900px;
    }
    .steps-image::before {
        width: 400px;
    }
}
@media (max-width: 1200px) {
    .goods__items {
        margin-top: 50px;
        justify-content: space-between;
        gap: 20px;
    }
    .card {
        max-width: 320px;
        width: 100%;
        margin-top: 0;
    }
    .card__image {
        height: 320px;
        object-fit: cover;
    }
    .steps__container {
        flex-direction: column;
    }
    .steps__container {
        margin-top: 40px;
    }
    .tab {
        margin-top: 20px;
    }
}
@media (max-width: 992px) {
    .carousel {
        width: 600px;
    }
    .feed__outcontent-text {
        top: 100px;
    }
}
@media (max-width: 768px) {
    .carousel {
        width: 300px;
    }
    .carousel-inner {
        height: 300px;
    }
    .goods__items {
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card {
        max-width: 420px;
    }
    .accordion__head {
        background-color: #fdfdfd;
    }
}
@media (max-width: 575px) {
    .promo,
    .goods,
    .steps,
    .advantages,
    .feed {
        padding: 50px 0;
    }
    .promo__title, 
    .goods__title, 
    .steps__title, 
    .advantages__title, 
    .feed__title {
        font-size: 38px;
        line-height: 44px;
    }
    .card {
        max-width: 320px;
    }
    .tab__item {
        font-size: 16px;
        line-height: 34px;
        padding: 5px 10px;
    }
    .footer__text {
        display: flex;
        flex-direction: column;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__logo {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 375px) {
    .promo__title, 
    .goods__title, 
    .steps__title, 
    .advantages__title, 
    .feed__title {
        font-size: 28px;
        line-height: 34px;
    }
    .tab__item {
        line-height: 22px;
    }
    .tab__content {
        padding: 10px;
    }
    .steps-image::before {
        width: 300px;
    }
    .feed__outcontent-text {
        right: -40px;
    }
}